@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #475c6c;
}

#title {
  font-family: "Dancing Script", cursive;
  color: aliceblue;
  font-size: 40px;
  text-align: center;
  margin: 10px 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; /*selon axe des x*/
  width: 100%;
  padding: 10px;
  padding-top: 0;
}

.container {
  flex-grow: 1;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: max-content;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: 5px;
  padding: 1rem;
  position: relative;
  background-color: white;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.image {
  width: 100%;
  aspect-ratio: 2/1;
  margin-bottom: 10px;
}

.container:hover {
  scale: 1.01;
  transition: all 0.5s ease-in-out;
}

.firstLetter {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
}

.food {
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  padding: 5px;
  font-weight: bold;
  width: 80px;
  text-align: center;
  border-top-right-radius: 10px;
}

#Chicken {
  background-color: #eed7a1;
}

#Beef {
  background-color: #eed9c4;
}

#Sushi {
  background-color: #cd8b62;
}

.text {
  text-align: justify;
}

@media (min-width: 768px) and (max-width: 992.99px) {
  .wrapper {
    flex-wrap: wrap;
  }
  .container {
    min-width: 40%;
  }
}
@media (max-width: 767.99px) {
  .wrapper {
    flex-direction: column;
  }
  .container {
    width: fit-content;
  }
}
